                        <h2>Menot</h2>
                        <div class="results">
                            <div class="col-sm-4"><h3>Päivämäärä</h3></div>
                            <div class="col-sm-4"><h3>Kauppa</h3></div>
                            <div class="col-sm-4"><h3>Summa</h3></div>
                        </div>

                        <div class="results-2">
                            <div *ngFor="let cost of costs">
                                <a [routerLink]="['/cost', cost.CostsId]" class="results2"><div class="col-sm-4"><h4>{{ cost.Datetime }}</h4></div>
                                    <div class="col-sm-4"><h4>{{ cost.Shop }}</h4></div>
                                    <div class="col-sm-4"><h4>{{ cost.TotalAmount }} e</h4></div>
                                </a>
                            </div>
                        </div>

                        <div class="results">
                            <h2>Menot kategorioittain</h2>
                            <ul class="list-group">
                                <li class="list-group-item" *ngFor="let category of categories">
                                    {{ category.name }}: {{ category.amount }}
                                    <ul class="list-group" *ngIf="category.subcategories">
                                        <li class="list-group-item" *ngFor="let subcategory of category.subcategories">
                                            {{ subcategory.name }}: {{ subcategory.amount }}
                                            <ul class="list-group" *ngIf="subcategory.subcategories">
                                                <li class="list-group-item" *ngFor="let subsubcategory of subcategory.subcategories">
                                                    {{ subsubcategory.name }}: {{ subsubcategory.amount }}
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                        <div class="results text-center">
                            <h2>Menot liikkeittäin</h2>
                            <div *ngFor="let entry of shops | keys">
                                <div class="col-sm-6">
                                    {{ entry.key }}
                                </div>
                                <div class="col-sm-6">
                                    {{ entry.value }}
                                </div>
                            </div>
                        </div>