<app-header></app-header>
<div class="container">
 <a class="btn btn-primary" routerLink="/costs">Takaisin</a>
 <p>
    Kategoriat voi lisätä kuluerälle monitasoisesti. Riittää kun painaa kirjoitetun kategorian jälkeen välilyöntiä, tabia tai enteriä
 </p>
 <form [formGroup]="form" (submit)="submit($event)">
  <div class="form-group">
    <label for="Shop">Maksun saanut taho:</label>
    <input type="text" formControlName="Shop" class="form-control">
  </div>
  <div (click)="addItem()">
  	<strong>Lisää uusi kuluerä</strong>
  	<span class="glyphicon glyphicon-plus"></span>
  </div>
  <div formArrayName="Items">
    <div *ngFor="let costItem of items.controls; let i=index" >
        <span class="glyphicon glyphicon-remove" (click)="removeItem(i)"></span>
    	  <div class="form-group" formGroupName="{{i}}">
          <div class="col-sm-6">
            <label for="Category">Kategoria:</label>
            <div class="input-tag-wrapper">
              <ng-container *ngFor="let tag of categoryTags[i]; let j=index">
                <span (click)="removeTag(i,j)" class="tag">{{ tag }}</span>
              </ng-container>
              <input type="text" class="category-input" formControlName="Category" (keypress)="checkcategoryinput($event, i)" />
            </div>
          </div>
          <div class="col-sm-6">
            <label for="Amount">Määrä:</label>
            <input type="text" class="form-control" formControlName="Amount" />     
          </div>
        </div>
     </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-12">
            <strong>
            {{errorMessage}}
            </strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <button type="button" class="btn btn-default" (click)="save()">Tallenna</button>
          </div>
        </div>
      </div>
    </div>
</form>
</div>