html{
  background-color:#1a164c;
}
.jumbotron{
  background-color:#1a164c;
  padding:20px;
  margin:0px;
}
.container dt,.container dd {
  margin:0 auto;
  text-align: center;
}
.panel-body a, .panel-body a:hover{
  color:#000000;
}
.jumbotron h1{
  text-align: center;
  color:#ffffff;
  font-family: 'Dosis', sans-serif;
  text-transform: uppercase;
  font-size:50px;
  font-weight: bold;
  letter-spacing: 5px;
  margin-top:50px;
  text-align: left;
  float:left;
}
li{
   font-family: 'Dosis', sans-serif;
   font-weight:bold;
   font-size:14px;

}
p{
  font-family: 'Dosis', sans-serif;
  margin-top:30px;
  font-size:18px;
  text-align: center;

}
h2{
  text-align: center;
  color:#1a164c;
  font-weight: bold;
  font-family: 'Dosis', sans-serif;
}
h3.costs, h3{
  font-size:35px;
  text-transform: uppercase;
  color:#1a164c;
  font-family: 'Dosis', sans-serif;
}

h4{
  font-family: 'Dosis', sans-serif;
  font-size:20px;
  font-weight:bold;
}
.plus-edit{
  padding:2px;
  color:#484848;
  font-size:12px;
  margin-left:2px;
}
.plus-edit-white{
  color:#ffffff;
  margin-left:2px;
  padding:2px;
  font-size:12px;
}
.glyphicon-remove{
  padding:38px;
  color:#b23c39;
  text-align: center;
}
.container-fluid{
  background-image:url("assets/bg.png");

}
.bg{
  background-color:#ffffff;
}
label{
  font-weight: bold;
   font-family: 'Dosis', sans-serif;
   font-size:18px;

}
.poffu-logo{ 
  float:right;
  width:150px
}
.logo{ /*Kirjaudu-sivun logo*/
  margin:0 auto;
  display: block;
}
.box{
  height:200px;
  width:300px;
  background-color: #f1f1f1;
  margin:-50px auto 0;
}
.login{
  background-color: #1a164c;
  width:200px;
  margin-top:90px;
}
.btn-primary.active, .btn-primary:active,, .open>.dropdown-toggle.btn-primary{
 background-color:#100e21 !important;

}
.btn-primary{
  font-family:'Dosis', sans-serif;
  font-weight:bold;
  text-transform:uppercase;
}
.limit{
  background-color: #1a164c;
  width:200px;
}
.dropdown{
  text-align:center;
  margin-top:50px;

}
.button, .dropdown-menu{
  margin:10px auto;
}
.dropdown-menu{
  width:200px;
  left:50%; 
  margin-left:-100px;
 }
 .results h3, h3{
  text-align:center;
  font-size:18px;
  text-transform: uppercase;
  font-weight: bold;
 }
.results2 h4{
  color:#000000;
  text-align:center;
}
.results2 h4:hover{
   color:#1a164c;
}
 .glyphicon-calendar{
  float:right;
}
 .row,.results{
  margin:20px 0;

}
.results-container{
  padding:20px;
}
 .category{
  text-align: center;
  list-style-type: none;
}
 li, ul,h5{
  padding:0;
  font-size:18px;
}
 .danger{
  left:50%;
}
.btn-danger{
  margin-top:20px;
}
 .center-block{
  margin-bottom:40px;

}
a {
  text-decoration: none;
  color:#ffffff;
}
a:hover {
    text-decoration: none;
    color:#ffffff;

}
.btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color: #1a164c !important;
}
.btn-primary:hover{
  opacity: 0.9;
}
.previous {
    background-color: #1a164c;;
    color: #ffffff;
    border-radius: 4px;
    width:200px;
    margin-bottom:40px;
    left:50%;  
}
.logout{
  width:200px;
   background-color: #1a164c;;
   font-family:'Dosis', sans-serif;
   text-transform: uppercase;
   font-weight: bold;
}
.logout:hover{
  opacity: 0.9 !important;
  color:#ffffff;
  font-family:'Dosis', sans-serif;
  text-transform: uppercase;
}

.tag
{
    margin-right:2px;
    color:#f1f1f1;
    border-radius:5px;
    text-align:center;
    padding:5px;
    background-color: #1a164c;
}

.input-tag-wrapper
{
  display: block;
    width: 100%;
    min-height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius:4px;
}

input.category-input
{
    border:0;
    display:inline-block;
 
}

input.category-input:focus
{
    outline-width:0;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: none;
    border: 0;
    font-size:20px;

}
@media only screen and (max-width: 640px){

    .poffu-logo{
    margin:35px auto 0;
    float:none;
    display: block;

  }
  .jumbotron h1{
    font-size:35px;
    text-align: center;
    margin:0 auto;
    float:none;
  }
}
