   <div class="header">
        <app-header></app-header>
            <div class="container-fluid">
                <div class="container bg">
                    <div class="row">
                    	<costs-display></costs-display>
                    </div>

                    <div class="row">
                    	<logout></logout>
                    </div>


                </div> <!--container loppuu-->

            </div> <!--container-fluid loppuu -->

        </div> <!--jumbotron  loppuu -->