<h2>Rajaaminen</h2>
<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle limit" type="button" data-toggle="dropdown">Rajaus
        <span class="caret"></span></button>
    <ul class="dropdown-menu">
        <li>
            <a href="#">Alkupvm
                <span><i class="glyphicon glyphicon-calendar"></i></span>
            </a>
        </li>
        <li>
            <a href="#">Loppupvm
                <span><i class="glyphicon glyphicon-calendar"></i></span>
            </a>
        </li>
        <li>
            <div class="form-group">
                <label for="sel1">Kauppa</label>
                  <select class="form-control" id="sel1">
                    <option>Prisma</option>
                    <option>Aatun valinta</option>
                    <option>Ainolan k-market</option>
                  </select>
            </div>                      
      </li>
        <li class="divider"></li>
        <li><a href="#">Rajaa</a></li>
    </ul>
</div>