       <div class="header">
       	<app-header></app-header>
            <div class="container-fluid">
                <div class="container">
                    <div class="row">
                        <h2>Kuluerän tiedot</h2>
                    
                        <div *ngIf="cost" class="col-sm-4 col-sm-offset-4"><h3>Ostokset kategorioittain</h3>
                            <dl class="dl-horizontal">
                                <dt>Päivämäärä</dt>
                                <dd>{{ cost.Datetime }}</dd>
                                <dt>Kauppa</dt>
                                <dd>{{ cost.Shop }}</dd>
                                <dt>Ostokset yhteensä</dt>
                                <dd>{{ cost.TotalAmount }}</dd>
                            </dl>
                            <dl *ngFor="let costItem of cost.Items" class="dl-horizontal">
                                <dt>{{ costItem.Category }}</dt>
                                <dd>{{ costItem.Amount}}e</dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <button class="btn btn-danger center-block">Poista</button>
                        <button class="btn btn-primary previous center-block previous"><a routerLink="/costs">&laquo; Takaisin</a></button>
                    </div>
                </div>
            </div> 
        </div>