       <div class="header">
       	<app-header></app-header>
            <div class="container-fluid">
                <div class="container">
                    <div class="row">
                        <h2>Kuluerän tiedot</h2>
                    
                        <div class="col-sm-4 col-sm-offset-4"><h3>Ostokset kategorioittain</h3>
                            <dl class="dl-horizontal">
                                <dt>Päivämäärä</dt>
                                <dd>3.4.2018</dd>
                                <dt>Kauppa</dt>
                                <dd>Prisma</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Kalja</dt>
                                <dd>50e</dd>
                                <dt>Ruoka</dt>
                                <dd>40e</dd>
                                <dt>Elektroniikka</dt>
                                <dd>1000e</dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <button class="btn btn-danger center-block">Poista</button>
                        <button class="btn btn-primary previous center-block previous"><a routerLink="/costs">&laquo; Takaisin</a></button>
                    </div>
                </div>
            </div> 
        </div>